* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
      circle at top,
      rgba(128, 0, 255, 0.15),
      transparent 40%
    ),
    #0b0b1e;
  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}