.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar h2 {
  font-weight: 600;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar li {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.navbar li:hover {
  opacity: 1;
}
.navbar a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.navbar a:hover {
  opacity: 1;
}
